pip==21.3.1
absl-py
astunparse
cachetools
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2
keras
Keras-Preprocessing
libclang
lxml
Markdown
MarkupSafe
multitasking
numpy
oauthlib
opt-einsum
pandas
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
urllib3
Werkzeug
wrapt
yfinance
zipp
